body {
    background-color: #d9b38c;
}

h1 {
    background-color: #3bb9ff;
}

h3 {

    background-color: white;
}

footer {
    background-color: lightgrey;
}

#ingredients {
    background-color: #f9f9f9;
}

#instructions {
    background-color: #ff8a88
}

#nutrition {
    background-color: #f9f9f9;
}

#win {
    background-color: orange;
}